{% load i18n %}{% autoescape off %}
{% trans "Hi " %}{{ user.get_username }}, why are you fighting? Can’t you see you’re all the same?

{% trans "I don’t want to overstep my bounds or anything. It’s your world. If you still want to reset your password, please go to the following page and choose a new password:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}


{% trans "If you didn't make this request, you can safely ignore this email. I know, it hits hard, but trust me, it slowly fades." %}

{% endblock reset_link %}

{% endautoescape %}
